<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello World</title>
</head>
<body>
    <h1>Analytics</h1>

    <div class="homepage-insert-btn-container">
    <form action='top5_win_pct' method='GET'>
        <button class="insert_options-player-btn" type='submit'>Top 5 teams in Wins</button>
    </form>
    </div>

    <div class="homepage-insert-btn-container">
    <form action='player_stat' method='GET'>
        <button class="insert_options-player-btn" type='submit'>Lookup Player Stat</button>
    </form>
    </div>

    <div class="homepage-insert-btn-container">
    <form action='home_team_stat' method='GET'>
        <button class="insert_options-player-btn" type='submit'>Lookup Team Stat</button>
    </form>
    </div>

    <div class="homepage-insert-btn-container">
    <form action='top_season_scorer' method='GET'>
        <button class="insert_options-player-btn" type='submit'>Top Scorer on Team</button>
    </form>
    </div>

    <div class="homepage-insert-btn-container">
    <form action='compare_two_players' method='GET'>
        <button class="insert_options-player-btn" type='submit'>Compare Two Players</button>
    </form>
    </div>


</body>
</html>