<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello World</title>
</head>
<body>
    <h1>Delete Options</h1>

    <div class="homepage-insert-btn-container">
    <form action='delete_player' method='GET'>
        <button class="insert_options-player-btn" type='submit'>Delete Player</button>
    </form>
    </div>


    <div class="homepage-insert-btn-container">
    <form action='delete_team' method='GET'>
        <button class="homepage-insert-btn" type='submit'>Delete Team</button>
    </form>
    </div>


    <div class="homepage-insert-btn-container">
    <form action='delete_games_details' method='GET'>
        <button class="homepage-insert-btn" type='submit'>Delete Game</button>
    </form>
    </div>

    <div class="homepage-insert-btn-container">
    <form action='delete_ranking' method='GET'>
        <button class="homepage-insert-btn" type='submit'>Delete Ranking</button>
    </form>
    </div>

</body>
</html>