<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello World</title>
</head>
<body>
    <h1>Insert Options</h1>

    <div class="homepage-insert-btn-container">
    <form action='insert_player' method='GET'>
        <button class="insert_options-player-btn" type='submit'>Insert Player</button>
    </form>
    </div>


    <div class="homepage-insert-btn-container">
    <form action='insert_team' method='GET'>
        <button class="homepage-insert-btn" type='submit'>Insert Team</button>
    </form>
    </div>


    <div class="homepage-insert-btn-container">
    <form action='insert_games_details' method='GET'>
        <button class="homepage-insert-btn" type='submit'>Insert Game</button>
    </form>
    </div>

    <div class="homepage-insert-btn-container">
    <form action='insert_ranking' method='GET'>
        <button class="homepage-insert-btn" type='submit'>Insert Ranking</button>
    </form>
    </div>

</body>
</html>