<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello World</title>
</head>
<body>
    <h1>Update Options</h1>

    <div class="homepage-insert-btn-container">
    <form action='update_player' method='GET'>
        <button class="insert_options-player-btn" type='submit'>Update Player</button>
    </form>
    </div>


    <div class="homepage-insert-btn-container">
    <form action='update_team' method='GET'>
        <button class="homepage-insert-btn" type='submit'>Update Team</button>
    </form>
    </div>


    <div class="homepage-insert-btn-container">
    <form action='update_games_details' method='GET'>
        <button class="homepage-insert-btn" type='submit'>Update Game</button>
    </form>
    </div>

    <div class="homepage-insert-btn-container">
    <form action='update_ranking' method='GET'>
        <button class="homepage-insert-btn" type='submit'>Update Ranking</button>
    </form>
    </div>

</body>
</html>